.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.friends{
  border-radius: 20px;
  background-image: linear-gradient(to right, black , white);

  
  height: 22rem;
  width: 100%;
  

}


p{
  text-shadow: 2px 2px black;
  font-size: 3rem;
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
